/target/classes/ClosureAnalysis/Data/Models/PointOfInterest.class
/target/classes/ClosureAnalysis/Data/Enums/TransportType.class
/target/classes/ClosureAnalysis/Data/Readers/StopReader.class
/target/classes/ClosureAnalysis/StopEvaluator.class
/target/classes/ClosureAnalysis/Data/Readers/RoadSegmentReader.class
/target/classes/ClosureAnalysis/Data/Models/Stop.class
/target/classes/ClosureAnalysis/Data/Models/RoadSegment.class
/target/classes/ClosureAnalysis/Data/Readers/Reader.class
/target/classes/ClosureAnalysis/Data/Enums/POIType.class
/target/classes/ClosureAnalysis/Data/Readers/POIReader.class
/target/classes/ClosureAnalysis/Calculations/POIFinder.class
/target/classes/gui/mainUI.class
/target/classes/ClosureAnalysis/Calculations/DistanceCalculator.class
target/*
/.idea/.gitignore
/.idea/*
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/compiler.xml
/data/ClosureAnalysis/budapest_gtfs.db
/data/ClosureAnalysis/budapest_gtfs.db-shm
/data/ClosureAnalysis/budapest_gtfs.db-wal
/.idea
*.xml
