/target/classes/ClosureAnalysis/Data/Models/PointOfInterest.class
/target/classes/ClosureAnalysis/Data/Enums/TransportType.class
/target/classes/ClosureAnalysis/Data/Readers/StopReader.class
/target/classes/ClosureAnalysis/StopEvaluator.class
/target/classes/ClosureAnalysis/Data/Readers/RoadSegmentReader.class
/target/classes/ClosureAnalysis/Data/Models/Stop.class
/target/classes/ClosureAnalysis/Data/Models/RoadSegment.class
/target/classes/ClosureAnalysis/Data/Readers/Reader.class
/target/classes/ClosureAnalysis/Data/Enums/POIType.class
/target/classes/ClosureAnalysis/Data/Readers/POIReader.class
/target/classes/ClosureAnalysis/Calculations/POIFinder.class
/target/classes/gui/mainUI.class
/target/classes/ClosureAnalysis/Calculations/DistanceCalculator.class
/.idea/.gitignore
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/compiler.xml
/data/ClosureAnalysis/budapest_gtfs.db
/data/ClosureAnalysis/budapest_gtfs.db-shm
/data/ClosureAnalysis/budapest_gtfs.db-wal
/target/classes/routingenginemain/engine/StraightLineCalculator.class
/.idea/sqldialects.xml
/target/classes/routingenginemain/model/Stop.class
/target/classes/routingenginemain/engine/Request.class
/target/classes/routingenginemain/model/Connection.class
/target/classes/routingenginemain/model/pathway/PathwayType.class
/target/classes/routingenginemain/model/Timetable.class
/target/classes/routingenginemain/gtfsparser/DataConverter.class
/target/classes/routingenginemain/model/Trip.class
/.idea/inspectionProfiles/Project_Default.xml
/target/classes/routingenginemain/model/pathway/Pathway.class
/target/classes/ClosureAnalysis/Builders/StopBuilder.class
/target/classes/routingenginemain/model/Agency.class
/.idea/dataSources.xml
/target/classes/routingenginemain/model/route/RouteType.class
/target/classes/routingenginemain/model/Coordinates.class
/target/classes/routingenginemain/model/route/Route.class
/target/classes/routingenginemain/model/route/RouteInfo.class
/data/budapest_gtfs.db
